README.md
BR 5 LEKCE/obj/BR 5 LEKCE.csproj.nuget.dgspec.json
BR 5 LEKCE/obj/BR 5 LEKCE.csproj.nuget.g.props
BR 5 LEKCE/obj/BR 5 LEKCE.csproj.nuget.g.targets
BR 5 LEKCE/obj/project.assets.json
BR 5 LEKCE/obj/project.nuget.cache
BR 5 LEKCE/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BR 5 LEKCE/obj/Debug/net8.0/BR 5 LEKCE.AssemblyInfo.cs
BR 5 LEKCE/obj/Debug/net8.0/BR 5 LEKCE.AssemblyInfoInputs.cache
BR 5 LEKCE/obj/Debug/net8.0/BR 5 LEKCE.assets.cache
BR 5 LEKCE/obj/Debug/net8.0/BR 5 LEKCE.GeneratedMSBuildEditorConfig.editorconfig
BR 5 LEKCE/obj/Debug/net8.0/BR 5 LEKCE.GlobalUsings.g.cs
